<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="ASCwebsite.Site1" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="fontawesome/css/all.css" rel="stylesheet" />
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="fontawesome/js/all.js"></script>
    <style>
        .content1body {
        }


        .navbar-brand {
            margin-right: 100px;
        }

        .productCard:hover {
            border-style: solid;
            border-color: #effa84;
            transform: scale(1.02);
        }

        .loginPageButtons {
            width: 20rem;
        }

        .nav-link {
            padding-left: 0px;
            color: #808080;
        }

            .nav-link:hover {
                color: black;
            }

        .loginTextField {
        }

        .card-body {
            width: auto;
        }
    </style>
</head>
<body>


    <form id="form1" runat="server">

        <div class="shadow ">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand text-primary" href="homePage.aspx">Logo</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav row " id="searchBar">



                            <li class="nav-item input-group col-lg-1 my-2 ">
                                <asp:TextBox class="form-control    " ID="searchText" runat="server" Style="width: 20rem"></asp:TextBox>

                                <asp:Button ID="searchButton" runat="server" Text="Search" class="btn btn-primary" OnClick="searchButton_Click" />
                            </li>
                        </ul>



                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <asp:Button class="nav-link " ID="LoginSignupButton" runat="server" Text="Login/Signup" OnClick="LoginSignupButton_Click" />
                            </li>
                            <li class="nav-item">
                                <asp:Button class="nav-link " ID="UserNameButton" runat="server" Text="Button" />
                            </li>
                            <li class="nav-item  ">

                                <asp:Button class="nav-link " ID="CartButton" runat="server" Text="Cart" OnClick="CartButton_Click" />
                            </li>
                            <li class="nav-item">

                                <div>

                                    <a class="nav-link menubutton" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Menu
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <asp:Button class="dropdown-item" ID="OrderButton" runat="server" Text="My order" OnClick="OrderButton_Click" />
                                        </li>
                                        <li>
                                            <asp:Button class="dropdown-item" ID="LogoutButton" runat="server" Text="Logout" OnClick="LogoutButton_Click" />
                                        </li>
                                        <li> <a class="dropdown-item" href="#">FAQ</a></li>
                                    </ul>
                                </div>



                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>




        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>


    </form>
    <footer class=" container-fluid py-3 bg-dark px-3 text-secondary">
        <div class="row">

            <div class="col sm-4">
                <h3>About</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </p>
            </div>
            <div class="col sm-4">
                <h3>help</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
            <div class="col sm-4">
                <h3>Connect with us</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
        </div>
    </footer>

</body>
</html>
